Repository xtellurian/openhack-devops-team: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/poi.pipeline.yml, azure-pipelines/trips.pipeline.yml, azure-pipelines/user-java.pipeline.yml

azure-pipelines/poi.pipeline.yml:
  name: Build_Poi
  jobs:
  - job: test
    pool:
      vmImage: Ubuntu 16.04
    variables:
      testProj: apis/poi/tests/UnitTests/UnitTests.csproj
    steps:
    - script: dotnet test $(testProj)
  - job: docker_build_push
    pool:
      vmImage: Ubuntu 16.04
    variables:
      imageName: poi:$(build.buildId)
  ...

azure-pipelines/trips.pipeline.yml:
  name: Build_Trips
  jobs:
  - job: test
    pool:
      vmImage: Ubuntu 16.04
    variables:
      testProj: ''
    steps:
    - script: echo TODO
  - job: docker_build
    pool:
      vmImage: Ubuntu 16.04
    variables:
      imageName: trips:$(build.buildId)
      dockerfilePath: apis/trips/Dockerfile
  ...

azure-pipelines/user-java.pipeline.yml:
  name: Build_UserJava
  jobs:
  - job: test
    pool:
      vmImage: Ubuntu 16.04
    variables:
      testProj: ''
    steps:
    - script: echo TODO
  - job: docker_build
    pool:
      vmImage: Ubuntu 16.04
    variables:
      imageName: user-java:$(build.buildId)
      dockerfilePath: apis/user-java/Dockerfile
  ...

wip build id
  azure-pipelines/poi.pipeline.yml
  azure-pipelines/trips.pipeline.yml
  azure-pipelines/user-java.pipeline.yml
  azure-pipelines/userprofile.pipeline.yml
Due: none

hotfix bad variables
  azure-pipelines/poi.pipeline.yml
  azure-pipelines/trips.pipeline.yml
  azure-pipelines/user-java.pipeline.yml
  azure-pipelines/userprofile.pipeline.yml
Due: none

wip naming images
  azure-pipelines/poi.pipeline.yml
  azure-pipelines/templates/docker-push.steps.yml
  azure-pipelines/trips.pipeline.yml
  azure-pipelines/user-java.pipeline.yml
  azure-pipelines/userprofile.pipeline.yml
Due: none

depends on test
  azure-pipelines/poi.pipeline.yml
  azure-pipelines/trips.pipeline.yml
  azure-pipelines/user-java.pipeline.yml
  azure-pipelines/userprofile.pipeline.yml
Due: none

include yaml in filter
  azure-pipelines/poi.pipeline.yml
  azure-pipelines/templates/docker-build.steps.yml
  azure-pipelines/templates/docker-push.steps.yml
  azure-pipelines/trips.pipeline.yml
  azure-pipelines/user-java.pipeline.yml
  azure-pipelines/userprofile.pipeline.yml
Due: none

see how we can publish the charts...
  azure-pipelines/poi.pipeline.yml
Due: none

wip
  azure-pipelines/poi.pipeline.yml
Due: none

version
  azure-pipelines/poi.pipeline.yml
Due: none

upload all the artifacts
  azure-pipelines/poi.pipeline.yml
  azure-pipelines/trips.pipeline.yml
  azure-pipelines/user-java.pipeline.yml
  azure-pipelines/userprofile.pipeline.yml
Due: none

remove that weird path thing in acr image names
  azure-pipelines/templates/docker-push.steps.yml
Due: none

oops
  azure-pipelines/templates/docker-push.steps.yml
Due: none

move to new acr and add endpoint
  .gitignore
  apis/poi/helm/values.yaml
  apis/trips/helm/values.yaml
  apis/user-java/helm/values.yaml
  apis/userprofile/helm/values.yaml
Due: azure-pipelines/poi.pipeline.yml, azure-pipelines/trips.pipeline.yml, azure-pipelines/user-java.pipeline.yml

go test
  azure-pipelines/trips.pipeline.yml
Due: none

test java app
  azure-pipelines/user-java.pipeline.yml
Due: none

run tests for profile
  azure-pipelines/userprofile.pipeline.yml
Due: none

broken image name
  apis/poi/helm/values.yaml
Due: azure-pipelines/poi.pipeline.yml

revert to correct url for image
  apis/poi/helm/values.yaml
Due: azure-pipelines/poi.pipeline.yml

uncomment liveness probes
  apis/poi/helm/templates/deployment.yaml
  apis/trips/helm/templates/deployment.yaml
  apis/user-java/helm/templates/deployment.yaml
  apis/userprofile/helm/templates/deployment.yaml
Due: azure-pipelines/poi.pipeline.yml, azure-pipelines/trips.pipeline.yml, azure-pipelines/user-java.pipeline.yml

log the docker push thing
  azure-pipelines/templates/docker-push.steps.yml
Due: none

cache warmup takes a long time
  apis/poi/helm/templates/deployment.yaml
Due: azure-pipelines/poi.pipeline.yml

wait before starting the liveness probe
  apis/poi/helm/templates/deployment.yaml
Due: azure-pipelines/poi.pipeline.yml

add poi integration test step
  azure-pipelines/poi.pipeline.yml
Due: none

faster warmup
  apis/poi/web/Program.cs
Due: azure-pipelines/poi.pipeline.yml

add coverlet and coverage for poi
  apis/poi/tests/UnitTests/UnitTests.csproj
  azure-pipelines/poi.pipeline.yml
Due: azure-pipelines/poi.pipeline.yml

report coverage file in AzOps-y way
  azure-pipelines/poi.pipeline.yml
Due: none

haha code coverage sucks
  azure-pipelines/poi.pipeline.yml
Due: none

collect test results in pipe
  azure-pipelines/poi.pipeline.yml
Due: none

Path conditions:
  azure-pipelines/poi.pipeline.yml: any of: apis/poi, but not: README.md
  azure-pipelines/trips.pipeline.yml: any of: apis/trips, but not: README.md
  azure-pipelines/user-java.pipeline.yml: any of: apis/user-java, but not: README.md
